# Folders
Data/Geo
Data/Zips

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# DataSpell/PyCharm
.idea/
.ipynb_checkpoints/

# Jupyter/DataSpell Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
# Environment variables
.env

# Project specific
*.log
